<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authriztion</title>
  </head>
  <body>
    <form action="/auth" method="POST">
      <input type="text" name="key" required />
      <input type="text" name="secretKey" required />
      <button>Authrize</button>
    </form>
  </body>
</html>
